{% extends 'base.html' %}

{% block title %}About | QuantSuite.io{% endblock %}

{% block content %}
<h1>About This Project</h1>
<p>This project grew out of a humble desire to provide a service, to make available the study and modeling of real-world securities and investments.</p>
<ul>
    <li>A melting point for theory and practice</li>
    <li>Stochastic analysis and simulations of investment strategies</li>
    <li>Statistics and analysis of real world data</li>
    <li>A platform where both the theory and practice </li>
</ul>
{% endblock %}
