<!-- core/templates/core/home.html -->
{% extends 'base.html' %}

{% block title %}Home | QuantSuite.io{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">QuantSuite.io</h1>
    <p class="lead">QuantSuite is a powerful and secure quantitative finance architecture, designed for complex and modular financial applications:</p>
    <ul>
        <li>Provides an algorithmic trading strategies and backtesting platform</li>
        <li>It offers options, futures and other derivatives pricing</li>
        <li>It is designed using a full-stack Django framework</li>
        <li>It boasts advanced security features</li>
        <li>Incorporates database abstraction</li>
        <li>Implements a REST framework for API development</li>
    </ul>
    <hr class="my-4">
    <p>To get started, please begin by creating a (free) account.</p>
</div>
{% endblock %}
